.houseItem{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 300px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img{
    height: 160px;
    object-fit: cover;
}

.cardBodyFlex{
align-self: flex-start;
}